<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSCFDICancelacionSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://edixcfdisecure.ekomercio.com/Cliente_SAT_CFDI_Web/Servicios/WSCFDICancelacion.asmx" binding="basicHttpBinding" bindingConfiguration="WSCFDICancelacionSoap" contract="WSFacturacion.WSCFDICancelacionSoap" name="WSCFDICancelacionSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
